<div class="container">
<mat-card>
        <mat-form-field>
            <input matInput placeholder="Nombre De Plan de Cuenta" >
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Id Empresa" >
        </mat-form-field>
        <br>
    
        <button mat-button routerLink="/PlanDeCuentas/List" >
            <span>Add</span>
        </button>
        <button mat-button routerLink="/PlanDeCuentas/List" >cancel</button>
    </mat-card>
    
</div>
<app-cuentas-list></app-cuentas-list>